پروژه صفر
آشنایی با "هوش مصنوعی"
هدف از انجام پروژه آشنایی با تعدادی از کتاب های پایتون در زمینه تحلیل داده های یک dataset و آنالیز و پیشبینی دیتا ها به کمک این کتابخانه ها.

شرح پروژه :

دیتای ورودی به پروژه ما  فایل csv است که در کنار پروژه قرار می گیرد. و به منظور تحلیل داده های آن و انجام پیش بینی آماری برروی آن از آن استفاده میکنیم.

شرح قسمت اول :
همینطور که در خروجی گرفته شده معلوم است. ابتدا فایل csv را با استفاده از تابع read_csv میخوانیم که نتیجه حاصل که یک dataframe است به ما برمیگرداند سپس توابع خواسته شده را برروی این dataframe صدا میکنیم. به ترتیب تابع tail داده هارا از انتها برای ما میاورد و ما میتوانیم با پاس دادن یک عدد تعداد آن را مشخص کنیم.
تابع head دقیقا مانند tail می باشد با این تفاوت که دیتا ها را از ابتدا می آورد و تابع describe اطلاعاتی راجع به دیتاهای عددی این dataset در اختیار ما قرار میدهد.
همینطور که از خروجی پیداست تابع  tail برای ما 5 داده آخر را برگردانده که مقدار default آن می باشد.
تابع head چون به آن عدد 1 داده ایم تنها اولین سطر را برای ما برگردانده است.
تابع describe اطلاعاتی از ستون های عددی مانند min و max و میانگین و... به ما برمی گرداند.

In [25]:
import pandas as pa
dataframe = pa.read_csv("advertising_dataset.csv")
tail = dataframe.tail()
head = dataframe.head(1)
describe = dataframe.describe()
print(tail)
print(head)
print(describe)

     Unnamed: 0  Daily Time Spent on Site   Age  Area Income  \
995         995                     72.97  30.0     71384.57
996         996                     51.30  45.0     67782.17
997         997                     51.63  51.0     42415.72
998         998                     55.55  19.0     41920.79
999         999                       NaN  26.0     29875.80

     Daily Internet Usage                         Ad Topic Line  \
995                208.58         Fundamental modular algorithm
996                134.42       Grass-roots cohesive monitoring
997                120.37          Expanded intangible solution
998                187.95  Proactive bandwidth-monitored policy
999                178.35       Virtual 5thgeneration emulation

              City  Gender                 Country            Timestamp  \
995      Duffystad    Male                 Lebanon  2016-02-11 21:49:00
996    New Darlene    Male  Bosnia and Herzegovina  2016-04-22 02:07:01
997  South Jessica    Male                Mongolia  2016-02-01 17:24:57
998    West Steven  Female               Guatemala  2016-03-24 02:35:54
999    Ronniemouth  Female                  Brazil  2016-06-03 21:43:21

     Clicked on Ad
995            1.0
996            1.0
997            1.0
998            0.0
999            1.0
   Unnamed: 0  Daily Time Spent on Site   Age  Area Income  \
0           0                     68.95  35.0      61833.9

   Daily Internet Usage                       Ad Topic Line         City  \
0                256.09  Cloned 5thgeneration orchestration  Wrightburgh

   Gender  Country            Timestamp  Clicked on Ad
0  Female  Tunisia  2016-03-27 00:53:11            0.0
        Unnamed: 0  Daily Time Spent on Site         Age   Area Income  \
count  1000.000000                907.000000  979.000000   1000.000000
mean    499.500000                 64.794818   36.009193  55000.000080
std     288.819436                 15.954841    8.783636  13414.634022
min       0.000000                 32.600000   19.000000  13996.500000
25%     249.750000                 50.615000   29.000000  47031.802500
50%     499.500000                 67.940000   35.000000  57012.300000
75%     749.250000                 78.555000   42.000000  65470.635000
max     999.000000                 91.430000   61.000000  79484.800000

       Daily Internet Usage  Clicked on Ad
count            913.000000     832.000000
mean             179.751271       0.496394
std               43.957934       0.500288
min              104.780000       0.000000
25%              138.550000       0.000000
50%              183.480000       0.000000
75%              217.850000       1.000000
max              269.960000       1.000000

شرح قسمت دوم :
خروجی اول مربوط به تابع info می باشد که نشان می دهد هر ستون چه type ای دارد و چه تعداد سطر در هر ستون دارای داده هست و همینطور که در خروجی معلوم است بعضی ستون ها از جمله Gender از نوع object می باشند و عدد نیستند.
حال برای اینکه بتوانیم از lable encoding استفاده کنیم چند روش وجود دارد که یکی از آن ها این است که dtype آن ستون را با استفاده از astype به category تغییر بدهیم و و سپس برای آن ستون با استفاده از cat.codes استفاده کنیم که برای حالت های مختلف آن ستون یک sequence برای ما می سازد که در خروجی دوم این بخش معلوم است که ستون Gender تبدیل به 0 برای Female و 1 برای male شده است.
 حال که در انتها دوباره info را چاپ میکنیم نوع ستون Gender عددی شده است.

In [26]:
info = dataframe.info()
print(info)
dataframe["Gender"] = dataframe["Gender"].astype('category')
dataframe["Gender"] = dataframe["Gender"].cat.codes
print(dataframe["Gender"])
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   Daily Time Spent on Site  907 non-null    float64
 2   Age                       979 non-null    float64
 3   Area Income               1000 non-null   float64
 4   Daily Internet Usage      913 non-null    float64
 5   Ad Topic Line             1000 non-null   object
 6   City                      1000 non-null   object
 7   Gender                    1000 non-null   object
 8   Country                   1000 non-null   object
 9   Timestamp                 1000 non-null   object
 10  Clicked on Ad             832 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB
None
0      0
1      1
2      0
3      1
4      0
      ..
995    1
996    1
997    1
998    0
999    0
Name: Gender, Length: 1000, dtype: int8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   Daily Time Spent on Site  907 non-null    float64
 2   Age                       979 non-null    float64
 3   Area Income               1000 non-null   float64
 4   Daily Internet Usage      913 non-null    float64
 5   Ad Topic Line             1000 non-null   object
 6   City                      1000 non-null   object
 7   Gender                    1000 non-null   int8
 8   Country                   1000 non-null   object
 9   Timestamp                 1000 non-null   object
 10  Clicked on Ad             832 non-null    float64
dtypes: float64(5), int64(1), int8(1), object(4)
memory usage: 79.2+ KB
None

In [ ]:
print(dataframe.isnull)